@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

/* Root Variables */
:root {
  /* Primary Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-cyan: hsl(156, 42%, 18%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);

  /* Typography */
  --font-montserrat: "Montserrat";
  --font-fraunces: "Faunces";
  --font-regular: 500;
  --font-bold: 700;
  --font-size: 14px;
  /* --font-size: clamp(12px, 3.5vw, 14px); */
}

/* Styling Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

/* General Styling */
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

p {
  color: var(--dark-grayish-blue);
  font-size: var(--font-size);
  font-weight: var(--font-regular);
  line-height: 24px;
}

/* Card */
.card {
  display: flex;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
  height: 450px;
}

/* Product Img */
.product-img {
  flex: 1;
}

.product-img-desktop {
  height: 100%;
}

/* Product Info */
.product-info {
  background-color: var(--white);
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  letter-spacing: 4px;
  font-size: 12px;
}

.title {
  font-family: var(--font-fraunces);
  font-size: 34px;
  color: var(--very-dark-blue);
  line-height: 32px;
  margin: 14px 8px 14px 0;
}

/* Pricing */
.pricing {
  display: flex;
  gap: 18px;
  margin: 26px 0;
}

.discounted-price {
  color: var(--dark-cyan);
  font-weight: var(--font-bold);
  font-size: 34px;
  font-family: var(--font-fraunces);
}

.full-price {
  text-decoration: line-through;
}

/* Add to Cart Button */
.add-to-cart-btn {
  text-decoration: none;
  background-color: var(--dark-cyan);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
}

.add-to-cart-btn:hover {
  background-color: var(--very-dark-cyan);
}

.btn-text {
  color: var(--white);
  font-weight: var(--font-bold);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--dark-grayish-blue);
  margin: 20px;
}
.attribution a {
  color: var(--dark-cyan);
  text-decoration: none;
  font-weight: var(--font-bold);
}
